<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="post">
      <fieldset>
        <legend>Thông tin cá nhân</legend>
        <label for="name">User:</label>
        <input type="text" id="user" name="user" /><br /><br />
        <label for="age">Email:</label>
        <input type="text" id="email" name="email" /><br /><br />
        <label for="age">Password:</label>
        <input type="text" id="pass" name="pass" /><br /><br />
      </fieldset>
      <input type="submit" value="Gửi" />
    </form>
  </body>
</html>
